ebnerd_demo/
ebnerd_small/
ebnerd_testset/
MINDlarge_dev/
MINDlarge_test/
MINDlarge_train/
MINDsmall_dev/
MINDsmall_train/
ebnerd_demo.zip
ebnerd_small.zip
ebnerd_testset.zip
MINDlarge_dev.zip
MINDlarge_test.zip
MINDlarge_train.zip
MINDsmall_dev.zip
MINDsmall_train.zip
prediction.txt
processed/
*.pt
*.ckpt
__pycache__/
*.pyc
.venv/
*.egg-info/
.DS_Store
output/
.pytest_cache/
.DS_Store